.activeWishlist{
    background: linear-gradient(135deg, #e07979, #dc2626);
  color: black;
  box-shadow: 0 6px 15px rgba(239, 68, 68, 0.4);
  transform: scale(1.1);
}

.activeCart{
     
  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: black;
  box-shadow: 0 6px 15px rgba(34, 197, 94, 0.4);
  transform: scale(1.1);
}